@media (max-width:900px){
  .products{
      display: inherit;
      height: auto;
  }
  .product{
      margin-top: auto;
  }

  .main_section{
      padding: 4%;
  }

  .features{
    display: inherit;
}

    .mentions, .mention_container{
        display: inherit;
    }


}